textarea {
    min-height: 400px;
}

.email-read {
    border-style: solid;
    border-width: thin;
    padding: 4px;
    background-color: rgb(192, 192, 192);
}

.email-unread {
    border-style: solid;
    border-width: thin;
    padding: 4px;
    background-color: white;
    font-weight: bolder;
}
